<div id="particles-background" class="vertical-centered-box"></div>
<div id="particles-foreground" class="vertical-centered-box"></div>

<div class="vertical-centered-box">
  <div class="content">
    <img src="../../../assets/img/brand/jtc_logo.png">
    <div class="container-login">
        <div class="container">
            <div class="login">
                <div class="login-triangle"></div>
                <h2 class="login-header">Bienvenido</h2>
              
                <form class="login-container">
                  <p><input type="email" placeholder="Email"></p>
                  <p><input type="password" placeholder="Password"></p>
                  <p><input type="submit" value="Ingresar" routerLink="/home"></p>
                </form>
              </div>
        </div>
    </div>
  </div>
</div>